.card:hover .card-content{
   
   
    
    opacity: 1;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    transform: translateY(-3em);
  
  }

  .box-shadow{
    padding:0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card-content{
    z-index: -1;
    background-color: white;
    
  }
  