.bg-gray{
  background-color: #f1f3f6;
}

.bg-white{
  background-color: white;
}
.mg-5{
  margin: 0.5rem;
}


aside{
  grid-area: sidebar;
  
}
section{
  grid-area: main;
}
.grid{
  display: grid;
  grid-template-columns:1fr 3fr;

  grid-template-rows: auto;
  grid-template-areas: 
  "sidebar main main main"
  
}
.active{
  text-decoration: underline;
  font-weight: bold;
}


.pd-5{
  padding:0.5rem;
}

.flex{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}

.space-around{
  justify-content: space-around;
}

.small{
  font-size:small;
  font-weight:400;
}

.hover-blue:hover{
  color: #2874f0;
  /* font-weight: 500; */
}
.blue{
  background-color:#2874f0;
  color:white;
}